.addList
  margin-top 10px
  cursor pointer
  background-color #14798D
  font-family "Helvetica Neue", Arial, Helvetica, sans-serif
  padding 10px
  float left
  width 270px
  margin 0 10px
  border-radius 5px
  overflow auto
  font-size 14px
  opacity: 0.5

  &:hover
    opacity: 1

  & .link
    text-decoration none
    font-size 14px
    display block