.boardWrapper
  font-family "Helvetica Neue", Arial, Helvetica, sans-serif
  background-color rgb(0, 174, 204)
  display grid
  grid-template-rows auto auto 1fr
  height 100vh

.navtopWrapper
  background-color #026AA7
  opacity 0.4

.navtop
    margin 10px
    font-size 18px
    color white
    opacity 10

.title
  font-size 18px
  color white
  margin 10px

.boardListsWrapper
  display grid
  grid-template-columns repeat(10, 1fr)
  grid-gap 10px
  grid-auto-columns 275px
  overflow-x auto
  margin 0 10px 0 10px


.addList
  margin 10px