.board
  background-color rgb(0, 174, 204)
  color white
  font-family "Helvetica Neue", Arial, Helvetica, sans-serif
  padding 10px
  overflow-x auto
  overflow-y hidden
  height 100%

.title
  font-size 18px
  font-weight bold
  line-height 18px
  margin-left 10px
