.list
  background-color #E2E4E6
  color #333
  font-family "Helvetica Neue", Arial, Helvetica, sans-serif
  padding 10px
  float left
  width 270px
  margin 0 10px
  border-radius 3px

  & ul
    overflow-x hidden
    overflow-y auto
    max-height 85vh

.header
  font-weight bold
  line-height 18px
  font-size 14px
