.list
  background-color #E2E4E6
  color #333
  display grid
  grid-template-rows repeat(4, auto)
  font-family "Helvetica Neue", Arial, Helvetica, sans-serif
  padding 10px
  border-radius 3px
  transition .2s ease-in all

.listCards
  list-style none

.droppingIn
  composes list
  box-shadow 0 20px 20px rgba(0, 0, 0, 0.5)
  margin-top 10px

.header
  font-weight bold
  line-height 18px
  font-size 14px
  word-wrap break-word
  width 10vw